<br>
<h2 class="text-center">Users</h2>

<div class="table-responsive ">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users;let i = index;">
            <td>{{i+1}}</td>
            <td>{{ user.name}}</td>
            <td>{{ user.email}}</td>
            <td>{{user.gender}}</td>
            <td><a routerLink="address/{{user.id}}" >Users Addresses</a></td>
          </tr>
         
        </tbody>
      </table>
</div>
